@model BlueConsultingManagementSystem.Models.Expense

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Expense</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfExpense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfExpense)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExpensePK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
