@model BlueConsultingManagementSystem.Models.Report

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Report</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReportName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReportName)
            @Html.ValidationMessageFor(model => model.ReportName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConsultantName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConsultantName)
            @Html.ValidationMessageFor(model => model.ConsultantName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SupervisorApproved)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SupervisorApproved)
            @Html.ValidationMessageFor(model => model.SupervisorApproved)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StaffApproval)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StaffApproval)
            @Html.ValidationMessageFor(model => model.StaffApproval)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfApproval)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOfApproval)
            @Html.ValidationMessageFor(model => model.DateOfApproval)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
