@model BlueConsultingManagementSystem.Models.Report

@{
    ViewBag.Title = "Confirm Your Approval";
}
<h2>Details</h2>
<div>
    <h4>Report: @Model.ReportName</h4>

    @if (Model.Expenses != null && Model.Expenses.Count() > 0)
    {
        <table class="table">
            <tr>
                <th>
                    Description
                </th>
                <th>
                    Location
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Currency
                </th>
                <th>
                    Date of Expense
                </th>
                <th>
                    PDF Receipt
                </th>
                </tr>
            @*Displays all the expenses from one report on this page  *@
            @foreach (var exp in Model.Expenses)
            {
                <tr>
                    <td>
                        @exp.Description
                    </td>
                    <td>
                        @exp.Location
                    </td>
                    <td>
                        @exp.Amount
                    </td>
                    <td>
                        @exp.CType
                    </td>
                    <td>
                        @exp.DateOfExpense
                    </td>
                    <td>
                        @if (exp.PDFFile != null)
                        {
                            @Html.ActionLink("PDF", "PDFView", "Expense", new { id = exp.ExpensePK }, null)
                        }
                        else
                        {

                        }
                    </td>

                </tr>
            }
            <tr><td></td><td></td><td></td><td>Total Amount : $AUD @ViewBag.TotalForReport</td><td></td><td></td></tr>
        </table>
    }
    @* if this will force the budget to be negative this will appear  *@
    <h2> Are you sure you wish to confirm this report?</h2>
    <p> This report is over the @Model.type.ToString() remaining budget of $AUD @ViewBag.TotalBudgetRemaining.</p>
    <p> This report is worth $AUD @ViewBag.TotalForReport and would be over budget</p>

    <div class="btn btn-info">
        @Html.ActionLink("Confirm approval", "ApproveCon", "Report", new { ReportID = Model.ReportPK }, new { @style = "color:#000000;" })
        </div>
    <div class="btn btn-danger">
        @Html.ActionLink("Reject Report", "Reject", "Report", new { ReportID = Model.ReportPK }, new { @style = "color:#000000;" })
        </div>
    <p>@Html.ActionLink("Back to reports list", "SupervisorReports", "Report")</p>  
    </div>

