@model BlueConsultingManagementSystem.Models.Report

@{
    ViewBag.Title = "Report Expense Details";
}

<h2>Report Expense Details</h2>

<div>
    <h4>Report: @Model.ReportName</h4>
	
    @if(Model.Expenses !=null && Model.Expenses.Count() > 0)
    {
        <table class="table">
    <tr>
        <th>
            Description
        </th>
        <th>
            Location
        </th>
        <th>
            Amount
        </th>
        <th>
            Currency
        </th>
        <th>
            Date of Expense
        </th>
        <th>
            PDF receipt
        </th>
            </tr>
            @foreach (var exp in Model.Expenses)
            {
                <tr>
                    <td>
                        @exp.Description
                    </td>
                    <td>
                        @exp.Location
                    </td>
                    <td>
                        @exp.Amount
                    </td>
                    <td>
                        @exp.CType
                    </td>
                    <td>
                        @exp.DateOfExpense
                    </td>
                    <td>
                    @if (exp.PDFFile != null)
                    {
                        @Html.ActionLink("PDF", "PDFView", "Expense", new {id = exp.ExpensePK}, null)
                    }
                    else
                    {
                        
                    }
                    </td>
                </tr>
            }
            <tr><td></td><td></td><td>Total Amount : $AUD @ViewBag.TotalReportCost</td><td></td></tr>
            </table>

        if (User.IsInRole("Supervisor"))
        {
            <div class="btn btn-info">
                @Html.ActionLink("Approve Report", "Approve", "Report", new { id = Model.ReportPK }, null)
            </div>
    <div class="btn btn-danger">
        @Html.ActionLink("Reject Report", "Reject", "Report", new { id = Model.ReportPK }, null)
    </div>
      <p>@Html.ActionLink("Back to reports list", "SupervisorReports", "Report")</p>  
    }
     else if (User.IsInRole("Staff"))
     {
         @Html.ActionLink("Approve Report", "StaffApproval", "Report", new { id = Model.ReportPK }, null)
        @Html.ActionLink("Reject Report", "StaffReject", "Report", new { id = Model.ReportPK }, null)
     }
    }
    else if (User.IsInRole("Staff") || User.IsInRole("Supervisor"))
    {
        @: No expenses to approve
    }

    @if(User.IsInRole("Consultant")){
    @Html.ActionLink("Add Expense", "Create", "Expense", new {ReportId = Model.ReportPK}, null)
    }
    
</div>

