@model BlueConsultingManagementSystem.Models.Report

@{
    ViewBag.Title = "Report Expense Details";
}

<h2>Report Expense Details</h2>
<div>
    <h4>Report: @Model.ReportName</h4>

    @if (Model.Expenses != null && Model.Expenses.Count() > 0)
    {
        <table class="table">
            <tr>
                <th>
                    Description
                </th>
                <th>
                    Location
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Currency
                </th>
                <th>
                    Date of Expense
                </th>
            </tr>
            @foreach (var exp in Model.Expenses)
            {
                <tr>
                    <td>
                        @exp.Description
                    </td>
                    <td>
                        @exp.Location
                    </td>
                    <td>
                        @exp.Amount
                    </td>
                    <td>
                        @exp.CType
                    </td>
                    <td>
                        @exp.DateOfExpense
                    </td>
                </tr>
            }
            <tr><td></td><td></td><td>Total Amount : $AUD @ViewBag.TotalReportCost</td><td></td></tr>
        </table>
    }
    else if (User.IsInRole("Staff") || User.IsInRole("Supervisor"))
    {
        @: No expenses to approve
    }

</div>
<p>
    @Html.ActionLink("Back to Home", "Index", "Home")
</p>
