@model BlueConsultingManagementSystem.Models.Report

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@{
    if (Model.Expenses != null && Model.Expenses.Count() > 0)
    {
        double totalCurrency = 0;
        foreach (var exp in Model.Expenses)
        {
            totalCurrency = exp.Amount + totalCurrency;
        }
        ViewBag.total = totalCurrency;
    }

}
<div>
    <h4>Report: @Model.ReportName</h4>
	
    @if(Model.Expenses !=null && Model.Expenses.Count() > 0)
    {
        <table class="table">
    <tr>
        <th>
            Description
        </th>
        <th>
            Amount
        </th>
        <th>
            Currency
                </th>
            </tr>
            @foreach (var exp in Model.Expenses)
            {
                <tr>
                    <td>
                        @Html.ActionLink(exp.Description, "Details", "Expense", new {id = exp.ExpensePK}, null)
                    </td>
                    <td>
                        @exp.Amount
                    </td>
                    <td>
                        @exp.CType
                    </td>
                </tr>
            }
            <tr><td></td><td>Total Amount : @ViewBag.total</td><td></td></tr>
            </table>
        
     if(User.IsInRole("Supervisor")){
     @Html.ActionLink("Approve Report", "Approve", "Report", new { id = Model.ReportPK }, null) 
       
    }
    }
    else
    {
        @: No expenses to approve
    }
    @if(User.IsInRole("Consultant")){
    @Html.ActionLink("Add Expense", "Create", "Expense", new {ReportId = Model.ReportPK}, null)
    }

</div>

