@model BlueConsultingManagementSystem.Models.Report

@{
    ViewBag.Title = "Edit";
}

<h2>SupervisorApproval - @Model.ReportName</h2>
@{
    if(Model.Expenses !=null && Model.Expenses.Count() > 0)
    {
    double totalCurrency = 0;
    foreach (var exp in Model.Expenses)
            {
                 totalCurrency = exp.Amount + totalCurrency;
    }  
    ViewBag.total = totalCurrency;
    }

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Report</h4>
        <P>
            this report total amount is @ViewBag.total
        </P>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ReportPK)


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Approve" name="Approve" class="btn btn-primary" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Declined" name="Decline" class="btn btn-warning" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
