@model IEnumerable<BlueConsultingManagementSystem.Models.Report>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReportName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.ReportName, "Details", new { id=item.ReportPK })
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        
    </tr>
}

</table>
