@model BlueConsultingManagementSystem.Models.Report

@{
    ViewBag.Title = "Approve";
}

<h2>Details</h2>
<div>
    <h4>Report: @Model.ReportName</h4>

    @if (Model.Expenses != null && Model.Expenses.Count() > 0)
    {
        <table class="table">
            <tr>
                <th>
                    Description
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Currency
                </th>
            </tr>
            @foreach (var exp in Model.Expenses)
            {
                <tr>
                    <td>
                        @Html.ActionLink(exp.Description, "Details", "Expense", new { id = exp.ExpensePK }, null)
                    </td>
                    <td>
                        @exp.Amount

                    </td>
                    <td>
                        @exp.CType

                    </td>
                </tr>
            }
            <tr><td></td><td>Total Amount : @ViewBag.TotalForReport</td><td></td></tr>
        </table>
    }
            <h2> Are you sure you wish to confirm this report </h2>
            <p> it's over the @Model.type.ToString() total budget  of @ViewBag.TotalBudgetRemaining </p>
            <p> this report is worth @ViewBag.TotalForReport and would be over budget</p>

    @Html.ActionLink("Confirm Approval", "StaffApprovalCon", "Report", new { id = Model.ReportPK }, null)
    @Html.ActionLink("Reject Report", "StaffReject", "Report", new { id = Model.ReportPK }, null)
</div>
