@model IEnumerable<BlueConsultingManagementSystem.Models.Report>

@{
    ViewBag.Title = "ViewReports";
}

<h2>ViewReports</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReportName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConsultantName)
        </th>
        <th>
            Department
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.ReportName, "Details", new { id = item.ReportPK })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsultantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
    </tr>
}

</table>
